<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/head.html :: head"></head>

<body class="d-flex flex-column min-vh-100 bg-body-secondary">
<nav th:insert="fragments/nav.html :: navbar"></nav>

<main class="container">
    <div class="row ">
        <div class="col">
            <div class="d-flex align-items-center p-3 my-3 text-black text-bg-dark rounded shadow-sm">
                <div class="lh-1">
                    <h1 class="h6 mb-0 text-warning lh-1">
                        <i class="fa-regular fa-user"></i>
                        <span>Your account:</span>
                    </h1>
                </div>
            </div>
            <div class="mb-3 p-3 bg-body rounded shadow-sm">
                <div>
                    <h6 class="border-bottom pb-2 mb-0">Account Data</h6>
                    <form class="needs-validation">
                        <div class="row g-3">
                            <div class="col-3">
                                <img src="https://placehold.co/200.png"
                                     class="img-fluid rounded mt-4 img-thumbnail border"
                                     th:if="${userProfilePictureUrl} == null"
                                     id="profileImagePreview"
                                     alt="Product Image">
                                <img src="https://placehold.co/200.png"
                                     class="img-fluid rounded mt-4 img-thumbnail border"
                                     th:unless="${userProfilePictureUrl} == null" th:src="@{${userProfilePictureUrl}}"
                                     id="profileImagePreviewReal"
                                     alt="Product Image"
                                     width="400px"
                                     height="400px">
                            </div>
                            <div class="col align-content-center">
                                <div class="row mt-5 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            First name
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userFirstName}" id="firstNameStatic">
                                        <span class="input-group-text">Last name
                                        </span>
                                        <input type="text" aria-label="Last name" class="form-control" disabled
                                               th:value="${userLastName}" id="lastNameStatic">

                                    </div>
                                </div>
                                <div class="row mt-3 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-user-tie"></i>
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userName}" id="userNameStatic">
                                    </div>
                                </div>
                                <div class="row mt-3 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userEmail}"
                                               id="emailStatic">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editAccount">
                                <i class="fa-regular fa-pen-to-square"></i>
                                Edit account
                            </button>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                    data-bs-target="#editPhoto">
                                <i class="fa-regular fa-image"></i>
                                Edit photo
                            </button>
                            <a class="btn btn-success" th:href="@{/user/friends}" href="#">
                                <i class="fa-regular fa-eye"></i>
                                View friends
                            </a>
                        </div>
                        <!--EDIT ACCOUNT DATA MODAL-->
                        <div class="modal fade" id="editAccount" tabindex="-1" aria-labelledby="editAccountModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editModalLabel">Edit user data</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="needs-validation" novalidate="">
                                            <div class="row g-3">
                                                <div class="col-6">
                                                    <label for="userName" class="form-label">User name</label>
                                                    <input type="text" class="form-control" id="userName" placeholder=""
                                                           required="" th:value="${userName}">
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="you@example.com" th:value="${userEmail}">
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row g-3 my-3">
                                                <div class="col-6">
                                                    <label for="firstName" class="form-label">First name</label>
                                                    <input type="text" class="form-control" id="firstName"
                                                           placeholder=""
                                                           required="" th:value="${userFirstName}">
                                                    <div class="invalid-feedback">
                                                        Valid first name is required.
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <label for="lastName" class="form-label">Last name</label>
                                                    <input type="text" class="form-control" id="lastName" placeholder=""
                                                           required="" th:value="${userLastName}">
                                                    <div class="invalid-feedback">
                                                        Valid last name is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            <i class="fa-regular fa-circle-xmark"></i>
                                            Close
                                        </button>
                                        <button type="button" onclick="handleEditProfile()" class="btn btn-primary"
                                                id="confirmEditUserDataButton">
                                            <i class="fa-regular fa-floppy-disk"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--EDIT PHOTO MODAL-->
                        <div class="modal fade" id="editPhoto" tabindex="-1"
                             aria-labelledby="editPhotoModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editPhotoModalLabel">Edit user photo</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form class="needs-validation" novalidate="" enctype="multipart/form-data"
                                          method="POST" th:object="${uploadImagePayload}"
                                          th:action="@{/dashboard/profileFile}">

                                        <div class="modal-body">
                                            <div class="row g-3">
                                                <div class="col-6">
                                                    <img src="https://placehold.co/200.png"
                                                         class="img-fluid rounded img-thumbnail border"
                                                         th:if="${userProfilePictureUrl} == null"
                                                         id="uploadImagePreview"
                                                         alt="Product Image">
                                                    <img src="https://placehold.co/200.png"
                                                         class="img-fluid rounded mt-4 img-thumbnail border"
                                                         th:unless="${userProfilePictureUrl} == null"
                                                         th:src="@{${userProfilePictureUrl}}"
                                                         id="uploadImagePreviewReal"
                                                         alt="Product Image">
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label for="formImageFile" class="form-label form-label-sm">
                                                            <b>Upload your image</b>
                                                        </label>
                                                        <input onchange="handleImagePreview()"
                                                               th:field="*{imageFile}"
                                                               class="form-control form-control-sm" type="file"
                                                               id="formImageFile" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                <i class="fa-regular fa-circle-xmark"></i>

                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" id="confirmEditPhotoButton">
                                                <i class="fa-regular fa-floppy-disk"></i>
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="d-flex align-items-center p-3 my-3 text-bg-dark rounded shadow-sm">
                <div class="lh-1">
                    <h1 class="h6 mb-0 text-warning lh-1">
                        <i class="fa-solid fa-signs-post"></i>
                        <span>Your posts:</span>
                    </h1>
                </div>
            </div>
            <div id="posts">
                <div class="card bg-light bg-gradient shadow-sm gap-3 my-3" th:each="post : ${userPosts}">
                    <div class="card-body">
                        <a class="link-dark" th:href="@{'/dashboard/' + ${post.author.id}}">
                            <h5 class="card-title"><b th:text="${post.author.username}"></b></h5>
                        </a>
                        <div class="card-subtitle"><b>Created: </b><em
                                th:text="${post.createdAt.toLocaleString()}"></em></div>
                        <div class="card-text mt-2 mb-3" th:text="${post.content}"></div>
                        <div class="card-footer">
                            <div class="btn-toolbar" role="toolbar" aria-label="Post toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="Reactions group">
                                    <input type="radio" class="btn-check" th:name="'radio_' + ${post.id}"
                                           th:id="'like_' + ${post.id}" autocomplete="off">
                                    <label th:onclick="handleAddLike([[${post.id}]])" class="btn btn-outline-primary"
                                           th:for="'like_' + ${post.id}"><i class="fa-regular fa-thumbs-up"></i></label>
                                    <input th:onclick="handleRemoveLike([[${post.id}]])" type="radio" class="btn-check"
                                           th:name="'radio_' + ${post.id}" th:id="'dislike_' + ${post.id}"
                                           autocomplete="off">
                                    <label class="btn btn-outline-secondary" th:for="'dislike_' + ${post.id}"><i
                                            class="fa-regular fa-thumbs-down"></i></label>
                                </div>
                                <div class="input-group">
                                    <button th:onclick="handleViewComments([[${post.id}]])" type="button"
                                            class="btn btn-secondary" data-bs-toggle="modal"
                                            th:data-bs-target="'#commentsModal' + ${post.id}"><i
                                            class="fa-regular fa-comment"></i></button>
                                    <input type="text" class="form-control" th:id="'comment_v_' + ${post.id}"
                                           placeholder="Enter comment here" aria-label="Input group example"
                                           aria-describedby="btnGroupAddon">
                                    <button th:onclick="handleAddComment([[${post.id}]])" type="button"
                                            class="btn btn-primary" th:id="'comment_' + ${post.id}"><i
                                            class="fa-regular fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- COMMENTS Modal -->
                        <div class="modal modal-lg fade" th:id="'commentsModal' + ${post.id}" tabindex="-1"
                             aria-labelledby="commentsModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content bg-body-secondary">
                                    <div class="modal-header text-bg-dark" data-bs-theme="dark">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="Comments"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:id="'comments_' + ${post.id}">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="fragments/footer.html :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b53d8df8be.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:src="@{/script/handlers/commentHandlers.js}" type="module"></script>
<script th:src="@{/script/handlers/postHandlers.js}" type="module"></script>
<script th:src="@{/script/handlers/userHandlers.js}" type="module"></script>
<script th:src="@{/script/handlers/imageHandlers.js}" type="module"></script>
</body>
</html>