<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head('Search')"></head>

<body class="d-flex flex-column min-vh-100 bg-body-secondary">
<nav th:replace="fragments/nav.html :: navbar('')"></nav>

<main class="container my-3">
    <p class="display-2 mx-auto text-center">Search: <span th:text="${searchPrompt}"></span></p>
    <div>
        <div class="d-flex align-items-center p-3 my-3 text-black text-bg-dark rounded shadow-sm">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-warning lh-1">
                    <i class="fa-regular fa-user"></i>
                    <span>Search result:</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="text-center" th:if="${foundUsers.size() == 0}">
        <h6 class="display-6 mx-auto">Nothing to show</h6>
    </div>
    <div id="search" th:unless="${foundUsers.size() == 0}">
        <div class="card mb-3" th:each="user : ${foundUsers}">
            <div class="row g-0">
                <div class="col-md-2">
                    <a class="link-dark" th:href="@{'/dashboard/' + ${user.userId}}">
                        <img
                                src="https://placehold.co/200.png"
                                class="img-fluid rounded-start"
                                th:if="${user.profilePictureUrl} == null"
                                id="profileImage"
                                alt="Product Image">
                    </a>
                    <a class="link-dark" th:href="@{'/dashboard/' + ${user.userId}}">
                        <img
                                class="img-fluid rounded-start"
                                th:unless="${user.profilePictureUrl} == null" th:src="${user.profilePictureUrl}"
                                id="profileImageReal"
                                alt="Product Image">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="link-dark" th:href="@{'/dashboard/' + ${user.userId}}">
                            <h5 class="card-title"><b th:text="${user.firstName} + ' ' + ${user.lastName}"></b></h5>
                        </a>
                        <p class="card-text" th:text="${user.username}"></p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b53d8df8be.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>