<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="description" content="Dashboard">
    <meta name="keywords" content="html Poster template">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/script/handlers.js" type="module"></script>
</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-gradient sticky-top" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#">Poster</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item border-start border-info border-2">
                    <a class="nav-link mx-1" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item border-info border-2">
                    <a class="nav-link mx-1" aria-current="page" th:href="@{/friends}">Friends</a>
                </li>
                <li class="nav-item border-info border-2">
                    <a class="nav-link mx-1" aria-current="page" th:href="@{/dashboard}">Dashboard</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="input-group">
                    <button class="btn btn-outline-success" type="button" id="inputGroupAddon">Search</button>
                    <input type="search" class="form-control" id="inputGroup" aria-describedby="inputGroupFileAddon04"
                           aria-label="Upload" placeholder="Search for friends!">
                </div>
            </form>
            <form action="#" th:action="@{/logout}" method="POST"><input class="btn btn-primary m-1" type="submit"
                                                                         value="Logout"/></form>
        </div>
    </div>
</nav>

<main class="container bg-body-secondary">
    <div class="row ">
        <div class="col">
            <div class="d-flex align-items-center p-3 my-3 text-black text-bg-info rounded shadow-sm">
                <div class="lh-1">
                    <h1 class="h6 mb-0 text-white lh-1">
                        <i class="fa-regular fa-user"></i>
                        <span>User account:</span>
                    </h1>
                </div>
            </div>
            <div class="mb-3 p-3 bg-body rounded shadow-sm">
                <div>
                    <h6 class="border-bottom pb-2 mb-0">User Data</h6>
                    <form class="needs-validation">
                        <div class="row g-3">
                            <div class="col-3">
                                <img src="https://placehold.co/200.png"
                                     class="img-fluid rounded mt-4 img-thumbnail border"
                                     th:if="${userProfilePictureUrl} == null"
                                     id="profileImagePreview"
                                     alt="Product Image">
                                <img src="https://placehold.co/200.png"
                                     class="img-fluid rounded mt-4 img-thumbnail border"
                                     th:unless="${userProfilePictureUrl} == null" th:src="${userProfilePictureUrl}"
                                     id="profileImagePreviewReal"
                                     alt="Product Image">
                            </div>
                            <div class="col align-content-center">
                                <div class="row mt-5 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            First name
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userFirstName}" id="firstNameStatic">
                                        <span class="input-group-text">Last name
                                        </span>
                                        <input type="text" aria-label="Last name" class="form-control" disabled
                                               th:value="${userLastName}" id="lastNameStatic">

                                    </div>
                                </div>
                                <div class="row mt-3 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-user-tie"></i>
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userName}" id="userNameStatic">
                                    </div>
                                </div>
                                <div class="row mt-3 mx-2">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="text" aria-label="First name" class="form-control" disabled
                                               th:value="${userEmail}"
                                               id="emailStatic">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr class="my-4">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-primary">
                                <i class="fa-regular fa-eye"></i>
                                View friends
                            </button>
                            <button type="button" class="btn btn-success" th:onclick="handleAddFriend([[${userName}]])">
                                <i class="fa-solid fa-user-plus"></i>
                                Add to friends
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex align-items-center p-3 my-3 text-bg-info rounded shadow-sm">
                <div class="lh-1">
                    <h1 class="h6 mb-0 text-white lh-1">
                        <i class="fa-solid fa-signs-post"></i>
                        <span>User posts:</span>
                    </h1>
                </div>
            </div>
            <div id="posts">
                <div class="card bg-light bg-gradient shadow-sm gap-3 my-3" th:each="p : ${userPosts}">
                    <div class="card-body">
                        <h5 class="card-title"><b th:text="${p.author.username}"></b></h5>
                        <div class="card-subtitle"><b>Created: </b><em th:text="${p.createdAt}"></em></div>
                        <div class="card-text" th:text="${p.content}"></div>
                        <div class="card-footer">
                            <div class="btn-toolbar" role="toolbar" aria-label="Post toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="Reactions group">
                                    <input type="radio" class="btn-check" th:name="'radio_' + ${p.id}"
                                           th:id="'like_' + ${p.id}" autocomplete="off">
                                    <label th:onclick="handleAddLike([[${p.id}]])" class="btn btn-outline-primary"
                                           th:for="'like_' + ${p.id}"><i class="fa-regular fa-thumbs-up"></i></label>
                                    <input th:onclick="handleRemoveLike([[${p.id}]])" type="radio" class="btn-check"
                                           th:name="'radio_' + ${p.id}" th:id="'dislike_' + ${p.id}" autocomplete="off">
                                    <label class="btn btn-outline-secondary" th:for="'dislike_' + ${p.id}"><i
                                            class="fa-regular fa-thumbs-down"></i></label>
                                </div>
                                <div class="input-group">
                                    <button th:onclick="handleViewComments([[${p.id}]])" type="button"
                                            class="btn btn-secondary" data-bs-toggle="modal"
                                            th:data-bs-target="'#commentsModal' + ${p.id}"><i
                                            class="fa-regular fa-comment"></i></button>
                                    <input type="text" class="form-control" th:id="'comment_v_' + ${p.id}"
                                           placeholder="Enter comment here" aria-label="Input group example"
                                           aria-describedby="btnGroupAddon">
                                    <button th:onclick="handleAddComment([[${p.id}]])" type="button"
                                            class="btn btn-primary" th:id="'comment_' + ${p.id}"><i
                                            class="fa-regular fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'commentsModal' + ${p.id}" tabindex="-1"
                             aria-labelledby="commentsModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="Comments"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:id="'comments_' + ${p.id}">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="bg-link">
    <div class="text-center p-3 bg-light">
        © 2020 Copyright:
        <a class="text-dark" href="https://localhost:8080/home">www.poster.com</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b53d8df8be.js" crossorigin="anonymous"></script>
</body>
</html>